body{
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
  	background-size: 100%;

}

h1{
	text-align: center;
}



.bon{
	width: 500px;
	height: 600px;
	margin:0 auto;
	background-color: white;

}

